a {
    color: black;
    font-style: normal;
}

a:hover {
    color:black;
    font-style: normal;
}

.aboutGrid {
    display: flex;
    flex-direction: column;
}

.aboutImage {
    display: block;
    margin:auto;
    border-radius:10px;
}

@media (min-width: 576px) and (max-width: 768px) {
    .aboutImage {
        height: auto;
        width: 100%;
    }
}

@media (max-width: 575px) {
    .aboutImage {
        height: auto;
        width: 100%;
    }
    .aboutText {
        order: -1;
    }
    .navButton {
        margin-right: 10px;
    }
}

body {
    background-color: cornsilk;
}

.btn-primary {
    font-weight: bolder;
}

.collegeImg {
    border-radius: 10px;
    opacity: 70%;
    z-index: -1;
}

.collegeImg:hover {
    opacity: 100%;
}

.pageTitle {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    display: block;
    padding: 25px;
}

.spanner {
    height: 1cm;
}

.schoolName {
    width: max-content;
    word-wrap: normal;
    display: block;
    position: absolute;
    font-size: medium;
    letter-spacing: 2px;
    color: black;
}

.schoolBlock {
    margin: auto;
    display:flex;
    justify-content: center;
    align-items:flex-start;
    width: 100%;
    height: 100%;
    margin-top: 10px;
}

.titleBar {
    width: 90%;
    margin:auto;
}

.nav {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.navBar {
    width: 90%;
}

.navButton {
    display: inline;
    margin-right: 25px;
}

.cardIndex {
    padding: 10%;
    margin-bottom: -20px;
    border-radius: 10px;
    background-color: cornsilk;
    border:none;
}

.cardImgIndex {
    border-radius: 10px;
    opacity: 70%;
}

.card-img-top:hover {
    opacity: 100%;
}

.card-title {
    text-align: center;
}

.col-xs-12 {
    margin-top: 10px;
}

.line {
    background-color: black;
    width: 10%;
    height: 100%;
    margin: auto;
}


.timeTitle {
    grid-column: 2;
    font-size: xx-large;
}

.timeBody {
    grid-column: 3;
    padding-right: 10px;
}

.timePhoto {
    grid-column: 4;
} 

.timeImg {
    height: 300px;
    width: auto;
}

@media (max-width: 1023px) {
    .timeTitle {
        font-size: x-large;
    }
    
    .timeBody {
        grid-column: 2;
    }

    .timePhoto {
        grid-column: 3;
    } 
    .timeImg {
        height: 200px;
        width: auto;
    }
}

@media (max-width: 575px) {
    .timeImg {
        height: 100px;
        width: auto;
    } 
    .timePhoto {
        grid-column: 2;
    }
}


.icons {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 25px;
}

.icon {
    padding: 10px;
}

.underConstruction {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.projectGrid {
    display: grid;
    grid-template-rows: repeat(400px);
    gap: 10px;
}

.projectCard {
    margin: 25px;
    padding: 25px;
}

.card-text {
    margin-top: 25px;
    margin-bottom: 25px;
}

@media (max-width: 550px) {
    .projectGrid {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 551px) and (max-width: 1024px) {
    .projectGrid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1025px) {
    .projectGrid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .navButton {
        margin-right: 75px;
    }
}